%header.page-header.jumbotron.subhead
  .row
    .span6
      %h1 NASA Sync
      %p.lead Open Source projects syncing made easy.
    .span2.offset4
      .pull-right
        = link_to new_project_path, :class => "btn btn-success btn-large" do
          %i.icon-plus
          Add project
    
= render "list"

 