.nav-collapse.collapse
  %ul.nav
    %li
      %form.navbar-form.pull-left
        %input{:type => "text", :class => "span6", :placeholder => "Search projects"}
        %button{:type =>"submit", :class => "btn"} Search